html,
body {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.flex-item {
  background-color: gold;
  border: 1px dashed black;
  font-size: 2rem;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  border: 1px solid black;
  width: 50%;
  height: 50%;
}
